# Auto detect text files
* text=auto
# Perform LF normalization on shell scripts (required when used as ENTRYPOINT in Docker)
*.sh text eol=lf
build/windows/tests/9.3.x filter=lfs diff=lfs merge=lfs -text
build/windows/tests/9.3.x/* filter=lfs diff=lfs merge=lfs -text
debugger/* filter=lfs diff=lfs merge=lfs -text
